version: '3.3'

services:
  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      - ./api.pipln.com.conf:/etc/nginx/conf.d/default.conf
      - ./site:/usr/share/nginx/html
      - ./dh-param/dhparam-2048.pem:/etc/ssl/certs/dhparam-2048.pem
      - /docker-volumes/etc/letsencrypt/live/api.pipln.com/fullchain.pem:/etc/letsencrypt/live/api.pipln.com/fullchain.pem
      - /docker-volumes/etc/letsencrypt/live/api.pipln.com/privkey.pem:/etc/letsencrypt/live/api.pipln.com/privkey.pem
      #for certbot challenges
      - /docker-volumes/data/letsencrypt:/data/letsencrypt
    networks:
      - docker-network

networks:
  docker-network:
    driver: bridge
